<html>
    <head>
        <title>
        Test
        </title>
        <link rel="stylesheet" type="text/css" href="css/homepagestyle.css"> 
        <link rel="stylesheet" type="text/css" href="css/post.css"> 
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    
    <body>
            <div class="logo"> SoulMate</div>
            <div class="utilities">
                <div class="utility"> 
                    <img alt="icon" src="../icons/add-a-contact-on-phone-interface-symbol-of-a-user-with-a-plus-sign.png">
                </div>
                <div class="utility"> 
                    <img alt="icon" src="../icons/close-envelope.png">
                </div>
                <div class="utility"> 
                    <img alt="icon" src="../icons/turn-notifications-on-button.png">
                </div>
            </div>
            <div class="profile" style="background-image:url('{{userdp}}')">
                <div class="Overlay"></div>
                    <div class="img">
                        <img alt="pic" src="{{userdp}}" id="#profilepic"> 
                    </div>
                
                    <div class="profileName">
                        {{name}}
                    </div>

                    <div>
                        <p>
                            Followers : 300k
                                <br><br>
                            Views : 1M  <br>
                                    <a href="#" class=" button editbutton" id="newpost">New Post</a>
                                    <a id="#profile" href="/profile" class=" button editbutton">View Profile</a>
                                    <a href="/signout" class=" button editbutton">Sign Out</a>
                        </p>
                    </div>
            </div>
            
            <div class="postbox">
                <div class="postinfo">Create New Post !!</div>
                <textarea rows="6" cols="80">Caption Goes Here !!</textarea>
                    <div class="postimg"></div>
                    <input type="file" class="postfile" name="imgtopost">
                    <p>Add Photos</p>
                    <button class="postbutton">Cancel</button>
                    <button class="postbutton">Post</button>
            </div>
        
            <div class="chats">
                    <div class="Overlay"></div>
                    <div class="chatsUser">
                        <div class="chatsUserPic"><img alt="pic" src="../images/Zayn-malik 2.jpg"></div>
                        <div class="chatsUserName">Karan</div>
                    </div>
                    <div class="chatsUser">
                        <div class="chatsUserPic"><img alt="pic" src="../images/Zayn-malik 2.jpg"></div>
                        <div class="chatsUserName">Karan</div>
                    </div>
                    <div class="chatsUser">
                        <div class="chatsUserPic"><img alt="pic" src="../images/Zayn-malik 2.jpg"></div>
                        <div class="chatsUserName">Karan</div>
                    </div>
                    <div class="chatsUser">
                        <div class="chatsUserPic"><img alt="pic" src="../images/Zayn-malik 2.jpg"></div>
                        <div class="chatsUserName">Karan</div>
                    </div>
            </div>
        
            <div class ="info">
                <div class="section" id="tab">
                    <a href="#section"  class=" button link ">NewsFeeds</a>
                    <a href="#about"  class=" button link">Discover</a>
                    <a href="#friends" class=" button link">Suggestions</a>
                </div>

                <div class="posts">
                    {{#if err}} {{err}} {{/if}}
                    {{#each posts}}
                    <div class="post" id="{{this.postid}}">
                        <div class="postimage"><img alt2="pics" src="{{this.postimg}}"></div>
                        <a class="postedby" href="/profile/{{this.userid}}">{{this.postedby}}</a>
                        <p class="postcaption">{{this.caption}} </p>
                        <div class="likecomment">
                            <button class="button likebutton" href="#">Like</button>
                            <p>{{this.nooflikes}} likes {{this.noofcomments}} comments</p>
                            <a href="/post/show/{{this.postid}}" class="button commentbutton">Comment</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
                    
                    <div id="friends">
                        {{#if nousererr}} {{nousererr}} {{/if}}
                        {{#each suggestions}}
                            <div class="friend">
                                    <div class="friendImage">
                                        <img alt="pics" src="{{this.userdp}}">
                                    </div>
                                    <div class="friendName">
                                        {{this.username}}
                                        <a class=" button ">Follow</a>  
                                    </div>
                            </div>
                        {{/each}}
                    </div>
            </div>
        <script src="javascript/homepage.js">
        </script> 
    </body>
</html>